*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# --- Windows (Agrega esto al final) ---
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- Web Logs (Errores de npm/yarn) ---
npm-debug.log
yarn-error.log
